*{
    margin: 0;
}

.msg_container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    visibility: hidden;
}

body{
    background-color: black;
}
.heading{
    text-align: center;
    color: whitesmoke;
    font-size: 80px;
}

.para{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vmin;

}

.game{
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    background-color: blue;
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.4rem;
    font-size: 10vmin;
    color: blue;
    cursor: pointer;
    background-color: antiquewhite;
}

.btn1{
    border-radius: 1.3rem;
    box-sizing: border-box;
    height: 4rem;
    width: 13rem;
    cursor: pointer;
    font-size: 30px;
}

.reset-div{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}